/* Nav.module.css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgb(51, 142, 139);
    background: radial-gradient(
      circle,
      rgba(51, 142, 139, 1) 0%,
      rgba(19, 20, 19, 1) 100%
    );
  }
  
  .logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .menu {
    display: flex;
  }
  
  .menu a {
    margin-right: 10px;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  