.App {
/*    background: radial-gradient(#1B2735, #040D21, #090A0F); */
/* color: white;
  background: rgb(51, 142, 139);
  background: radial-gradient(
    circle,
    rgba(51, 142, 139, 1) 0%,
    rgba(19, 20, 19, 1) 100%
  );
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif; */
}


:root {
   --cover-timing: 0.5s;
   --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
   --cover-stagger: 0.15s;
   --text-timing: 0.75s;
   --text-stagger: 0.015s;
   --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
   --title-stagger: 0.05s;
   --highlight: white;
 }
 
 body,
 main {
   display: grid;
   place-items: center;
 }
 
 body,
 html {
   color: white;
   background: rgb(51, 142, 139);
   background: radial-gradient(
     circle,
     rgba(51, 142, 139, 1) 0%,
     rgba(19, 20, 19, 1) 100%
   );
   padding: 0;
   margin: 0;
   min-height: 100vh;
   font-family: "Open Sans", sans-serif;
 }
 
 body {
   padding: 1em 0 3em;
   min-height: calc(100vh - 4em);
 }
